/* Google Fonts -  Titillium Web */
@import url(https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap);

body .jumbotron {
  color: #000000;
  background: linear-gradient(90deg, rgba(234,255,255,1) 0%, rgba(223,220,236,1) 50%, rgba(245,237,241,1) 100%);
}

.navbar-default {
  background: #ffffff;
  border: none;
}

.card{
    margin: 1%;
    background: #ddf4f481;
}
.card-img, .card-img-top {
    padding: 4%;
}

.navbar-default ul li a {
  cursor: pointer;
}
.head-photo{
    width: 350px;
    border-radius: 6%;
}

.section__canvas {
    position: relative;
    top: 5px;
    width: 100%;
    height: 50px;
    background: transparent;
}

.welcome-content h1 {
  font-weight: 900;
  font-size: 56px;
  padding: 7%;
  font-family: 'Staatliches', cursive;
}

.welcome-content h2 {
  font-weight: 700;
  font-size: 26px;
  font-family: 'Staatliches', cursive;
}

.welcome-content p {
  padding-top: 10px;
  font-size: 14px;
}

.welcome-content p a {
  padding-left: 5px;
  padding-right: 5px;
  color: #000000;
}

.sm-buttons{
  display: flex;
  justify-content: center;
}
.social-button {
  background-color: linear-gradient(0deg, rgba(51,65,130,0.5816701680672269) 27%, rgba(48,86,184,0.5228466386554622) 66%);;
  border: 1px solid #696969;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.social-button i {
  padding-right: 10px !important;
}

h3.head-bar {
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  font-family: 'Staatliches', cursive;
}

.progress-bar {
  background-color: #696969;
}
.progress{
    font-family: 'Lato', sans-serif;
    height: 2em;
    margin: 3%;
    border-style: groove;
}

hr.hr-line1 {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

hr.hr-line2 {
border: 0;
height: 0;
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

article.education {
  padding-top: 20px;
  padding-bottom: 10px;
}

.education h1 {
  font-weight: 700;
  font-size: 20px;
}

.education small {
  color: #696969;
  font-size: 15px;
  padding-left: 15px;
  font-family: 'Lato', sans-serif;
}

.education h2 {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Staatliches', cursive;
}

.education h3 {
  font-weight: 300;
  font-size: 14px;
  font-family: 'Staatliches', cursive;
}

article.work {
  padding-top: 20px;
  padding-bottom: 10px;
}

.work h1 {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Staatliches', cursive;
  
}

.work small {
  color: #696969;
  font-size: 15px;
  padding-left: 15px;
}

.work h2 {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Staatliches', cursive;
}

.work h3 {
  font-weight: 300;
  font-size: 14px;
  font-family: 'Staatliches', cursive;
}

.work p {
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
}

.label {
  font-weight: 300;
  font-size: 12px;
  padding: 2px 8px;
}

.thumbnail-button {
  background-color: #696969;
  border: 1px solid #efefef;
}

.contact {
  background: linear-gradient(90deg, rgba(7,173,191,1) 0%, rgba(60,143,240,1) 100%);
  color: snow;
}
p{
    font-family: 'Lato', sans-serif;
    padding: 3px;
}
* {box-sizing: border-box;}
.mySlides {
  display: flex;
  align-items: center;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4.5s;
  animation-name: fade;
  animation-duration: 4.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.text {
  font-size: xx-small;
}
.contact-header {
  color: snow;
  padding: 5%;
  font-family: 'Staatliches', cursive;
}
