.container > p {
    flex-wrap: wrap;
}

h2 {
    margin-top: 25px;
    margin-left: 25px;
}

.p {
    margin: 8px;
}

.body {
    background-color: lightgray;
}

img {
    align-items: flex-start;
    justify-content:flex-start;
    max-height: 50px;
    max-width: 25px;
}

@media all and (max-width: 980px) {
    .container {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 6400px) {
    .container {
        flex-wrap: wrap;
    }
}