.container > p {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div > img {
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
}

.container > div {
    flex: 1 1 150px;
}

h2 {
    margin-top: 25px;
    margin-left: 25px;
}

.p {
    margin: 8px;
}

img {
    width: 5%; 
    height:3%; 
}

.body {
    background-color: lightgray;
}

@media all and (max-width: 980px) {
    .container {
        flex-wrap: wrap;
    }
    img {
        float:left; 
    }
}

@media all and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
        margin:12px; 
        margin-top: 5%;
    }
}

@media all and (max-width: 6400px) {
    .container {
        flex-wrap: wrap;
    }
}