/* Google Fonts -  Titillium Web */
@import url(https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap);

body .jumbotron {
  color: #ffffff;
  background: radial-gradient(circle, rgba(0,35,126,1) 0%, rgba(34,34,34,1) 100%);
}

.navbar-default {
  background: #ffffff;
  border: none;
}

.card{
    margin: 1%;
    background: #ddf4f481;
}
.card-img, .card-img-top {
    padding: 4%;
}

.nav-tabs {
  cursor: pointer;
  padding-top: 2%;
}
.nav-item {
  font-family: 'Staatliches', cursive;
}
.head-photo{
    width: 350px;
    border-radius: 6%;
}

.section__canvas {
    position: relative;
    top: 5px;
    width: 100%;
    height: 50px;
    background: transparent;
}

.welcome-content h1 {
  font-weight: 900;
  font-size: 7em;
  padding: 7%;
  font-family: 'Staatliches', cursive;
  letter-spacing: .15em;
}

.welcome-content h2 {
  font-weight: 700;
  font-size: 26px;
  font-family: 'Staatliches', cursive;
}

.welcome-content p {
  padding-top: 10px;
  font-size: 14px;
}

.welcome-content p a {
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
}

h1, h3, h5{
  font-family: 'Staatliches', cursive;
}

.sm-buttons{
  display: flex;
  justify-content: center;
}
.social-button {
  background-color: linear-gradient(0deg, rgba(51,65,130,0.5816701680672269) 27%, rgba(48,86,184,0.5228466386554622) 66%);;
  border: 1px solid #ffffff;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.social-button i {
  padding-right: 10px !important;
}

h3.head-bar {
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Staatliches', cursive;
}

.progress-bar {
  background-color: #696969;
}
.progress{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    height: 3em;
    margin-top: 5%;
    margin-bottom: 10%;

}

hr.hr-line1 {
border: 0;
height: 1px;
background: #ffffff;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

hr.hr-line2 {
border: 0;
height: 0;
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

article.education {
  padding-top: 20px;
  padding-bottom: 10px;
}

.education h1 {
  font-weight: 700;
  font-size: 20px;
}

.education small {
  color: #ffffff;
  font-size: 15px;
  padding-left: 15px;
  font-family: 'Lato', sans-serif;
}

.education h2 {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Staatliches', cursive;
}

.education h3 {
  font-weight: 300;
  font-size: 14px;
  font-family: 'Staatliches', cursive;
}

article.work {
  padding-top: 20px;
  padding-bottom: 10px;
}

.work h1 {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Staatliches', cursive;
  
}

.work small {
  color: #ffffff;
  font-size: 15px;
  padding-left: 15px;
}

.work h2 {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Staatliches', cursive;
}

.work h3 {
  font-weight: 300;
  font-size: 14px;
  font-family: 'Staatliches', cursive;
}

.work p {
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
}

.label {
  font-weight: 300;
  font-size: 12px;
  padding: 2px 8px;
}

.thumbnail-button {
  border: 1px solid;
}

.contact {
  background: linear-gradient(90deg, rgba(7,173,191,1) 0%, rgba(60,143,240,1) 100%);
  color: snow;
}
p{
    font-family: 'Lato', sans-serif;
    padding: 3px;
}
* {box-sizing: border-box;}
.mySlides {
  display: flex;
  align-items: center;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4.5s;
  animation-name: fade;
  animation-duration: 4.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.text {
  font-size: xx-small;
}
.contact-header {
  color: snow;
  padding: 5%;
  font-family: 'Staatliches', cursive;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background: #222;
  font-family: 'Staatliches', cursive;
}
.space {
  padding-left: 3%;
}

.rotating-text {
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: white;
  transform: translateX(-80px);
}
.rotating-text p {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.rotating-text p .word .letter {
  transform-origin: center center 25px;
}
.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
  transition: 0.38s ease;
}
.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}

.alizarin {
  color: #e74c3c;
}

.wisteria {
  color: #8e44ad;
}

.peter-river {
  color: #3498db;
}

.emerald {
  color: #2ecc71;
}

.sun-flower {
  color: #f1c40f;
}
